.card {
  display: inline;
  border: solid;
  border-radius: 10px;
  border-color: rgb(223, 223, 223);
  border-width: 1px;
  width: 90%;
  margin: 10px;
  padding: 20px 20px;
}
.cards {
  display: flex;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
}
h4 {
  font-size: 12px;
  text-decoration: none;
  color: rgb(83, 81, 81);
}
.date{
    font: 100;
    font-size: 12px;
}
.p {
  font-size: 12px;
  width: 90%;
  color: rgb(189, 186, 186);
}
.btn {
  display: flex-end;
  border-radius: 20px;
  border-color: #82a3ff;
  border-width: 1px;
  width: 50%;
  justify-content: center;
  padding: 10px;
  font-size: 7px;
  background-color: #ffffff;
  color: rgb(36, 151, 223);
  align-items: flex-end;
}
.New {
  display: flex;
  color: #ffffff;
  background-color: #01c853;
  border-radius: 5px;
  border: none;
  padding: 4px 20px;
  font-size: 10px;
}
.Fix {
  color: #ffffff;
  background-color: #2962ff;
  border-radius: 5px;
  border: none;
  padding: 4px 20px;
  font-size: 10px;
}
.Improvment {
  color: #ffffff;
  background-color: #c35bff;
  border-radius: 5px;
  border: none;
  padding: 4px 15px;
  font-size: 10px;
}
.text-light {
  color: #ffffff;
}
img {
  clip-path: circle(50% at 50% 50%);
  display: flex-end;
  width: 13%;
}
.imgbtn {
  display: flex;
}
span {
  font-size: 9px;
  margin: 7px;
}
.imgFullName {
  display: flex;
  justify-content: center;
}
@media only screen and (min-width: 380px) {
  .card {
    display: inline;
    border: solid;
    border-radius: 10px;
    border-color: rgb(223, 223, 223);
    border-width: 1px;
    /* width: 80%; */
    margin: 10px;
    padding: 20px 20px;
  }
  .cards {
    display: flex;
    /* width: 60%; */
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 900px) {
  .card {
    display: inline;
    justify-content: center;
    border: solid;
    border-radius: 10px;
    border-color: rgb(223, 223, 223);
    border-width: 1px;
    /* width: 90%; */
    margin-left: auto;
    margin-right: auto;
    /* padding: 20px; */
    /* margin: 10px;  */
    /* padding: 30px 30px; */
  }
  .cards {
    display: flex;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
  }
}
@media only screen and (max-width: 768px) {
    .cards {
        width: 100%;
    }
}
/* @media only screen and (max-width: 1920px) {
    .cards {
        width: 29%;
    }
} */
